{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><b>Thanks a lot for your feedback!</b></h1>
              <pre><i>We're glad to hear from you. It is appreciable that you took your precious time to give us a feedback.
                  We're constantly working on making Wonder Mart the best E-commerce website of all time! Keep shopping :)</i></pre>
          <p><a class="btn btn-dark btn-lg" href="/shop" role="button">&laquo; Go back to website</a></p>
        </div>
    </div>

    <footer class="container">
      <p style="color:#919191;">&copy; Company 2020-2023</p>
    </footer>
{% endblock %}